.whatWeDo{
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .whatWeDo{
    justify-content: flex-start;
    padding: 25px 25px;
  }
}

.container {
  max-width: 1020px;
  height: auto;
  display: grid;
  padding-bottom: 90px;
}

.header {
  display: flex;
  flex-direction: column;
}
.header h2 {
  font-size: 55px;
  margin: 0;
}
@media (max-width: 1024px) {
  .header h2 {
    font-size: 40px;
  }
}

.headerContainer{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
.headerContainer p {
  padding-right: 40px;
}
@media (max-width: 1024px) {
  .headerContainer {
    flex-direction: column;
  }
  .headerContainer p {
    padding-right: 0;
    font-size: 16px;
  }
}

.more {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .more {
    justify-content: flex-start;
  }
}
.more a {
  display: flex;
  flex-direction: row;
}

.iconArrow {
  margin: 0 5px 0 15px;
  display: flex;
}

.content {
  display: flex;
}
@media (max-width: 1024px) {
  .content {
    flex-direction: column;
  }
}


.box {
  padding-right: 50px;
}
@media (max-width: 1024px) {
  .box {
    padding-right: 0;
  }
}
.box h3 {
  font-size: 25px;
}
@media (max-width: 1024px) {
  .box p {
    padding-right: 0;
    font-size: 16px;
  }
}

.learnMore {
  width: 100%;
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
}
@media (max-width: 1024px) {
  .learnMore {
    padding: 0;
  }
}
.learnMore a{
  display: flex;
  flex-direction: row;

}