
.imgBanner {
  display: flex;
  max-height: 300px;
  margin-top: 50px;
}
.imgBanner img {
  width: 100%;
}
@media (max-width: 1024px) {
  .imgBanner{
    margin-top: 30px;
    margin-bottom: 30px;

  }
}
