.menu {
  width: 100%;
}
.menu ul {
  display: flex;
  justify-content: space-evenly;
	padding:0px;
	margin:0px;
	background-color:#EDEDED;
	list-style:none;
  /* float:left; */
}

.menu ul li { 
  display: inline;

}

.menu ul li a {
	padding: 20px 10px;
	display: inline-block;

}
