.whereWeShine {
  display: flex;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  .whereWeShine{
    justify-content: flex-start;
    padding: 25px 25px;
  }
}

.container {
  max-width: 1020px;
}

.header h2 {
  font-size: 55px;
  margin: 0;
}
@media (max-width: 1024px) {
  .header h2 {
    font-size: 40px;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.headerContainer p {
  padding-right: 40px;
  margin: 0;
}
@media (max-width: 1024px) {
  .headerContainer {
    flex-direction: column;
  }
  .headerContainer p {
    padding-right: 0;
    padding: 16px 0;
    font-size: 16px;
  }
}

.learnMore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .learnMore {
    justify-content: flex-start;
  }
}
.learnMore a {
  display: flex;
  flex-direction: row;
}

.iconArrow {
  margin: 0 5px 0 15px;
  display: flex;
}

